<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/isuroku/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Isuroku" />
            <add key="ClearTextPassword" value="0fd29e3927a1959381a29b158faa38d4e0323bdf" />
        </github>
    </packageSourceCredentials>
</configuration>